.home-content-sale {
  display: flex;
  position: relative;
  top: 75px;
  flex-wrap: wrap;
  justify-content: space-around;
  
  div {
    border: 1px solid @site-border-color;
    color: @site-color;
  }
}

.home-content-new {
  
}
