.site-navbar {
  position: fixed;
  height: 100%;
  width: 0%;
  overflow-x: hidden;
  z-index: 9999999;
  top: 0px;
  left: 0px;
  background-color: @site-background-color;
  color:@site-color;
  transition: width 1s;
}

.navbar-slideout {
 width: 100%;
}
